.profile-card {
    border: 3px solid black;
    justify-content: center;
    width: 100%;
    padding: 1.2rem;
    height: 100%;
    color: black;
}

.profile-card img {
    width: 100%;
    margin-bottom: 1.2rem;
    object-fit: cover;
}


.section-titles {
    padding-bottom: .8rem;
    margin-bottom: 1.6rem;
    border-bottom: 2px solid black;
}