body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f8f9fa;
}

h1,
h2 {
    font-weight: 700
}

h3,
h4 {
    font-size: 1.25rem;
    font-weight: 500
}


h5 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: .8rem;
}

h6 {
    font-weight: 700;
    font-size: .5rem;

}


p {
    font-weight: 300;
}


a {
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



.page-title {
    margin: 6% 0 2% 0;
}



.entries-main {
    object-fit: cover;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: .1rem;
}

.entries-subTitle {
    margin-top: 4rem;
    margin-bottom: 1rem;

}